* {
  margin: 0;
  padding: 0;
}

.theGame {
  margin: 60px auto;
  width: 1600px;
  height: 780px;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
}

.main {
  width: 100%;
  height: 50%;
  border-bottom: 2px solid black;
  position: relative;
}

.cat {
  width: 110px;
  height: 140px;
  background-image: url(./images/cat.png);
  background-size: cover;
  position: absolute;
  top: 250px;
  left: 50px;
}

.branch {
  width: 75px;
  height: 100px;
  background-image: url(./images/cactus.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 290px;
}

.jumpsAmount {
  width: 300px;
  height: 70px;
  position: absolute;
  top: -50px;
  left: 630px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animate {
  animation: cat linear 850ms;
}

@keyframes cat {
  0% {
    top: 260px;
  }

  33% {
    top: 120px;
  }

  66% {
    top: 120px;
  }

  100% {
    top: 260px;
  }
}

.skyleft {
  width: 100%;
  height: 25%;
  position: relative;
  animation: skyleft infinite linear 15s;
}

.skyright {
  width: 100%;
  height: 25%;
  position: absolute;
  top: 0;
  left: 1600px;
  animation: skyright infinite linear 15s;
}

.sky1 {
  width: 300px;
  height: 150px;
  background-image: url(./images/sky2.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 40px;
  left: 50px;
}

.sky2 {
  width: 300px;
  height: 100px;
  background-image: url(./images/sky1.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 450px;
}

.sky3 {
  width: 300px;
  height: 150px;
  background-image: url(./images/sky2.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 40px;
  left: 850px;
}

.sky4 {
  width: 300px;
  height: 100px;
  background-image: url(./images/sky1.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 1250px;
}

.groundleft {
  width: 100%;
  height: 25%;
  position: relative;
  animation: groundleft infinite linear 15s;
}

.groundright {
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  left: 1600px;
  animation: groundright infinite linear 15s;
}

.bush1 {
  width: 150px;
  height: 75px;
  background-image: url(./images/bush1.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.bush2 {
  width: 150px;
  height: 50px;
  background-image: url(./images/bush2.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 450px;
  bottom: 80px;
}

.bush3 {
  width: 150px;
  height: 75px;
  background-image: url(./images/bush1.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 850px;
  bottom: 20px;
}

.bush4 {
  width: 150px;
  height: 50px;
  background-image: url(./images/bush2.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 1250px;
  bottom: 80px;
}

@keyframes branch {
  0% {
    left: 1500px;
  }

  100% {
    left: 0px;
  }
}

@keyframes skyleft {
  0% {
    left: 0;
  }

  100% {
    left: -1600px;
  }
}

@keyframes skyright {
  0% {
    left: 1600px;
  }

  100% {
    left: 0;
  }
}

@keyframes groundleft {
  0% {
    left: 0;
  }

  100% {
    left: -1600px;
  }
}

@keyframes groundright {
  0% {
    left: 1600px;
  }

  100% {
    left: 0;
  }
}
